* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif !important;
  color: hsl(0, 0%, 100%);
}

header {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.logo {
  display: inline-block;
  width: 10rem;
}

.logo > img {
  width: 100%;
  height: 100% !important;
}

nav {
  padding: 2rem 1rem;
}

nav ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul img {
  width: 1.5rem;
  height: 100%;
}

nav ul li {
  padding: 0 1rem;
}

form .close-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: hsl(0, 0%, 0%);
  padding: 0.1rem;
}

.close-icon-wrapper img {
  width: 100%;
  height: 100%;
}

form input,
form button[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
  background-color: hsl(210, 11%, 14%);
}

form #password,
form #confirm-password {
  border: none;
  border-radius: 0;
}

.password-wrapper {
  border: 1px solid gray;
  border-radius: 0.2rem;
}

form button[type="submit"] {
  background-color: hsl(0, 96%, 42%);
  border: none;
}

form #login-link:hover {
  text-decoration: underline !important;
}

.login-with-wrapper > span {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  top: -29px;
  left: calc(50% - 38px);
}

.other-signup-options button {
  border: none;
  flex-grow: 1;
  padding: 0.3rem 0;
}

.other-signup-options button:nth-child(1) {
  background-color: hsl(221, 44%, 42%);
}

.other-signup-options button:nth-child(2) {
  background-color: hsl(10, 100%, 33%);
}

.other-signup-options button:nth-child(3) {
  background-color: hsl(203, 89%, 53%);
}
