* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif !important;
  color: hsl(0, 0%, 100%);
}

body {
  background-color: hsl(0deg, 0%, 8%) !important;
}

header {
  box-shadow: 0px 1px 10px hsl(0, 0%, 20%);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.logo {
  display: inline-block;
  width: 10rem;
  filter: drop-shadow(2px 2px 2px hsl(0, 100%, 50%));
}

.logo > img {
  width: 100%;
  height: 100% !important;
}

nav {
  padding: 2rem 1rem;
}

nav ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul img {
  width: 1.3rem;
  height: 100%;
}

nav ul li {
  padding: 0 1rem;
}

.cart-item-count {
  background: hsl(0, 100%, 50%);
  display: inline-block;
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 0.8rem;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  align-content: center;
  border-radius: 50%;
}

header .search-dropdown a,
header .cart-dropdown a,
header .profile-dropdown a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

header .profile-dropdown {
  right: 0.5rem;
}

header .search-dropdown,
header .cart-dropdown,
header .profile-dropdown {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-delay: 300ms;
  position: absolute;
  border: 1px solid grey;
  padding: 0.5rem;
  background: hsl(0deg, 0%, 8%);
  z-index: 1;
  opacity: 0;
}

header .search-dropdown{
  top: 5rem;
}

header .cart-dropdown{
  top: 3rem;
}

header .profile-dropdown {
  top: 5rem;
}

#profile-signup-btn {
  border: 1px solid grey;
  background: hsl(0deg, 0%, 8%);
  padding: 0.5rem;
}

#profile-signup-btn:hover {
  background: hsl(0deg, 0%, 18%);
}

.dropdown-login:hover {
  text-decoration: underline;
}

header .search-icon-wrapper:hover .search-dropdown,
header .cart-icon-wrapper:hover .cart-dropdown,
header .profile-icon-wrapper:hover .profile-dropdown {
  opacity: 1;
}

form .close-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: hsl(0, 0%, 0%);
  padding: 0.1rem;
}

.close-icon-wrapper img {
  width: 100%;
  height: 100%;
}

form input,
form button[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 0.2rem;
  background-color: hsl(210, 11%, 14%);
}

form label {
  display: none;
}

form #password,
form #confirm-password {
  border: none;
  border-radius: 0;
}

.password-wrapper {
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 0.2rem;
}

form button[type="submit"] {
  background-color: hsl(0, 96%, 42%);
  border: none;
}

form #login-link:hover {
  text-decoration: underline !important;
}

.login-with-wrapper > span {
  font-size: 0.8rem;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: calc(50% - 58.13px);
}

.other-signup-options button {
  border: none;
  flex-grow: 1;
  padding: 0.3rem 0;
}

.other-signup-options button:hover {
  opacity: 0.8;
}

.other-signup-options button:nth-child(1) {
  background-color: hsl(221, 44%, 42%);
}

.other-signup-options button:nth-child(2) {
  background-color: hsl(10, 100%, 33%);
}

.other-signup-options button:nth-child(3) {
  background-color: hsl(203, 89%, 53%);
}

.hero-carousel {
  height: 20rem;
}

.carousel-indicators > button {
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: red !important;
}

.hero-carousel .carousel-inner .row {
  max-width: 50rem !important;
  margin: 0 auto;
}

.hero-carousel .product-details > .product-quote {
  font-size: 1.6rem;
  font-weight: 800;
}

.hero-carousel .product-details > .product-price {
  font-size: 1rem;
  font-weight: 600;
}

.old-price {
  text-decoration: line-through;
  color: hsl(0, 0%, 50%);
}

.hero-carousel .product-details button {
  background-color: hsl(0, 96%, 42%);
  border: none;
  padding: 0.3rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.hero-carousel .product-details button:hover {
  box-shadow: 0px 0px 10px hsl(0, 96%, 42%);
}

.hero-carousel .product-details button:active {
  transform: scale(0.95);
}

.featured-products-section {
  margin-top: 2rem;
  position: relative;
  width: 100%;
  height: 25rem;
}

.featured-products-section .featured-product-item {
  margin-top: 1.5rem;
  position: absolute;
  width: 12rem;
}

.featured-products-section .featured-product-item p > span:first-child {
  font-weight: 600;
  font-size: 1.3rem;
}

.featured-products-section .featured-product-item p > span:last-child {
  text-decoration: line-through;
  color: grey;
}

.featured-products-section .featured-product-item:nth-child(1) {
  animation-name: featured-products-animation-1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes featured-products-animation-1 {
  0% {
    transform: translateX(0) scale(0.6);
    left: 0;
    z-index: -5;
  }
  25% {
    transform: translateX(-100%) scale(0.6);
    left: 100%;
    z-index: -5;
  }
  50% {
    transform: translateX(-50%) scale(0.8);
    left: 75%;
    z-index: -3;
  }
  75% {
    transform: translateX(-50%) scale(1); /* main */
    left: 50%;
    z-index: 0;
  }
  100% {
    transform: translateX(-50%) scale(0.8);
    left: 25%;
    z-index: -3;
  }
}

.featured-products-section .featured-product-item:nth-child(2) {
  animation-name: featured-products-animation-2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes featured-products-animation-2 {
  0% {
    transform: translateX(-50%) scale(0.8);
    left: 25%;
    z-index: -3;
  }
  25% {
    transform: translateX(0) scale(0.6);
    left: 0;
    z-index: -5;
  }
  50% {
    transform: translateX(-100%) scale(0.6);
    left: 100%;
    z-index: -5;
  }
  75% {
    transform: translateX(-50%) scale(0.8);
    left: 75%;
    z-index: -3;
  }
  100% {
    transform: translateX(-50%) scale(1); /* main */
    left: 50%;
    z-index: 0;
  }
}

.featured-products-section .featured-product-item:nth-child(3) {
  animation-name: featured-products-animation-3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes featured-products-animation-3 {
  0% {
    transform: translateX(-50%) scale(1); /* main */
    left: 50%;
    z-index: 0;
  }
  25% {
    transform: translateX(-50%) scale(0.8);
    left: 25%;
    z-index: -3;
  }
  50% {
    transform: translateX(0) scale(0.6);
    left: 0;
    z-index: -5;
  }
  75% {
    transform: translateX(-100%) scale(0.6);
    left: 100%;
    z-index: -5;
  }
  100% {
    transform: translateX(-50%) scale(0.8);
    left: 75%;
    z-index: -3;
  }
}

.featured-products-section .featured-product-item:nth-child(4) {
  animation-name: featured-products-animation-4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes featured-products-animation-4 {
  0% {
    transform: translateX(-50%) scale(0.8);
    left: 75%;
    z-index: -3;
  }
  25% {
    transform: translateX(-50%) scale(1); /* main */
    left: 50%;
    z-index: 0;
  }
  50% {
    transform: translateX(-50%) scale(0.8);
    left: 25%;
    z-index: -3;
  }
  75% {
    transform: translateX(0) scale(0.6);
    left: 0;
    z-index: -5;
  }
  100% {
    transform: translateX(-100%) scale(0.6);
    left: 100%;
    z-index: -5;
  }
}

.featured-products-section .featured-product-item:nth-child(5) {
  animation-name: featured-products-animation-5;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes featured-products-animation-5 {
  0% {
    transform: translateX(-100%) scale(0.6);
    left: 100%;
    z-index: -5;
  }
  25% {
    transform: translateX(-50%) scale(0.8);
    left: 75%;
    z-index: -3;
  }
  50% {
    transform: translateX(-50%) scale(1); /* main */
    left: 50%;
    z-index: 0;
  }
  75% {
    transform: translateX(-50%) scale(0.8);
    left: 25%;
    z-index: -3;
  }
  100% {
    transform: translateX(0) scale(0.6);
    left: 0;
    z-index: -5;
  }
}

.featured-products-section .indicator-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

.featured-products-section .indicator-wrapper button {
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: grey;
}

.top-products-nav > ul {
  display: flex;
  justify-content: space-around;
}

.top-products-nav > ul > li {
  padding: 0.2rem 0.8rem;
  border-radius: 3px;
}

.top-products-nav > ul > li:hover {
  background-color: hsl(0, 96%, 42%);
}

.top-products-nav > ul > li.active {
  background-color: hsl(0, 96%, 42%);
}

.top-products-section .card {
  color: hsl(0, 0%, 100%);
  width: 15rem;
  padding: 0;
  border: 1px solid hsl(0, 0%, 50%);
  overflow: hidden;
}

.top-products-section .card .card-img {
  transition-duration: 500ms;
  will-change: transform;
  transition-property: transform;
}

.top-products-section .card:hover .card-img {
  transform: scale(1.1);
}

.top-products-section .card .card-body {
  z-index: 1;
}

.ratings {
  height: 0.8rem;
}

.card .card-title,
.card .card-price {
  font-weight: 600;
}

.card a {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 96%, 42%);
}

.card a:hover {
  box-shadow: 0px 0px 10px hsla(0, 96%, 42%);
  background-color: hsl(0, 96%, 42%);
}

.card a:active {
  background-color: hsl(0, 96%, 42%) !important;
  transform: scale(0.95);
}

.top-products-section .card .card-img {
  height: 10rem;
  padding: 0.5rem;
  object-fit: contain;
}

.advantage-section .row .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.advantage-section .row .col-12 p {
  margin-bottom: 0;
}

.advantage-section img {
  height: 2.5rem;
}

footer {
  background-color: hsl(0, 0%, 0%) !important;
}

footer h5 {
  font-weight: 600;
}

footer .submit-btn:hover {
  box-shadow: 0px 0px 10px hsl(0, 100%, 50%);
}

footer .submit-btn:active {
  transform: scale(0.95);
}

footer ul li a {
  color: grey;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer .footer-credits {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

footer .footer-credits img {
  width: 100%;
  height: 100%;
}

footer .footer-social-links {
  display: flex;
  gap: 1rem;
}
